/* Global styles */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  h1 {
    text-align: center;
  }
  
  /* Table styles */
  .table {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .table thead th {
    background-color: #f1f1f1;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .table tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  
  /* Form styles */
  .parent-div {
    margin-top: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px; /* Adjust the padding to reduce the overall height */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    form {
      max-width: 100%;
    }
  }
  